/central_data_store
/noise_grids_gamma_data
*.pyc
*.o
*.so
*.swp
*.swo
*.tmp$$
*.tdo
.DS_Store
._.DS_Store
output_local
.ropeproject

/INSTALL.html
/README.html
/VERSIONING.html

# Building
*.egg-info

/git_hooks
/tags
